apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: k8s-learning
  labels:
    app: postgres
spec:
  clusterIP: None
  selector:
    app: postgres
  ports:
    - name: db
      port: 5432
      targetPort: 5432

