apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-api
  namespace: k8s-learning
  labels:
    app: backend-api
    tier: backend
spec:
  replicas: 3
  revisionHistoryLimit: 10
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      app: backend-api
  template:
    metadata:
      labels:
        app: backend-api
        tier: backend
        loki_job: backend-api
    spec:
      serviceAccountName: backend-sa
      initContainers:
        - name: migrate-db
          image: us-central1-docker.pkg.dev/alfahadh-practice/k8s-learning/k8s-learning-backend:latest
          command: ["python", "-m", "alembic", "upgrade", "head"]
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: platform-secrets
      containers:
        - name: backend
          image: us-central1-docker.pkg.dev/alfahadh-practice/k8s-learning/k8s-learning-backend:latest
          imagePullPolicy: IfNotPresent
          command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8000"]
          ports:
            - containerPort: 8000
              name: http
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: platform-secrets
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
            timeoutSeconds: 3
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            initialDelaySeconds: 30
            periodSeconds: 15
            timeoutSeconds: 3
            failureThreshold: 3
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
