apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: k8s-learning
  labels:
    app: backend-api
spec:
  type: ClusterIP
  selector:
    app: backend-api
  ports:
    - name: http
      port: 80
      targetPort: 8000

