apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-web
  namespace: k8s-learning
  labels:
    app: frontend-web
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend-web
  template:
    metadata:
      labels:
        app: frontend-web
    spec:
      containers:
        - name: frontend
          image: us-central1-docker.pkg.dev/alfahadh-practice/k8s-learning/k8s-learning-frontend:latest
          imagePullPolicy: IfNotPresent
          env:
            - name: API_UPSTREAM
              value: "http://backend-service:80"
          ports:
            - containerPort: 80
              name: http
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 20
            periodSeconds: 20
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "128Mi"

