apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: k8s-learning
spec:
  type: NodePort
  selector:
    app: frontend-web
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 30080

